* {
    box-sizing: border-box;
}

.dark-theme {
    --primary-color: black;
    --main-background-color: #111111;
    --border-color: #444444;
    --selection-color: #00a0ce;
    --text-color: white;

    --header-element-text-color: rgba(255, 255, 255, 0.75);

    --slot-overlay-text-color: white;
    --slot-candidate-background-color: rgba(0, 0, 0, 0.5);
    --slot-candidate-text-color-on: white;
    --slot-candidate-text-color-off: gray;

    --slot-color-0: #204280;
    --slot-color-1: #8a0d39;
    --slot-color-2: #07772f;
    --slot-color-3: #a27d19;
    --slot-color-4: #652080;
    --slot-color-5: #067e70;
    --slot-color-6: #ad400b;
    --slot-color-7: #5e4242;
}

.light-theme {
    --primary-color: white;
    --main-background-color: #eeeeee;
    --border-color: #bbbbbb;
    --selection-color: #00c6ff;
    --text-color: black;

    --header-element-text-color: rgba(0, 0, 0, 0.75);

    --slot-overlay-text-color: white;
    --slot-candidate-background-color: rgba(0, 0, 0, 0.3);
    --slot-candidate-text-color-on: white;
    --slot-candidate-text-color-off: #b9b9b9;

    --slot-color-0: #5883d1;
    --slot-color-1: #e2417a;
    --slot-color-2: #2caa5a;
    --slot-color-3: #e9b73d;
    --slot-color-4: #ba5edf;
    --slot-color-5: #38a093;
    --slot-color-6: #eb743a;
    --slot-color-7: #9c8282;
}

/* FONT DEFINITIONS */

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/LiberationMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/LiberationMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/LiberationMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/LiberationMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Liberation Mono', monospace;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

header, footer {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    border-bottom: 1px solid var(--border-color);
}

footer {
    border-top: 1px solid var(--border-color);
}

h1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 32px;
}

.header-section-version, .header-section-extras {
    color: var(--header-element-text-color);
    width: 150px;
    display: flex;
    align-items: center;
}

.header-section-version {
    justify-content: left;
}

.header-section-extras {
    justify-content: right;
    gap: 4px;
}

#dark-mode-button {
    font-weight: bold;
    padding: 0;
    color: var(--header-element-text-color);
    margin: 0 0 0 0px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: none;
    border: 0;
}

#dark-mode-button:hover {
    color: var(--selection-color);
}

#version {
    text-align: left;
}

#donate-link {
    color: var(--header-element-text-color);
}

#donate-link:hover {
    color: #e01067;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: var(--main-background-color);
}

.schedule-list {
    display: flex;
    padding: 0 8px 8px 8px;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    width: 424px;
}

.schedule-list-item {
    padding: 4px;
    background-color: #ff00ff;
    font-size: 12px;
    color: var(--slot-overlay-text-color);
    display: flex;
    border-radius: 6px;
    width: 180px;
}

.timetable {
    display: grid;
    grid-template-columns: 24px repeat(5, 80px);
    grid-template-rows: repeat(186, 2px); /* 5-minute interval precision (1 row per 5 minutes) */
}

.time {
    grid-column: 1 / span 1;
    grid-row: span 12;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 4px;
    font-size: 12px;
    font-weight: bold;
}

.top-of-time {
    grid-row: span 6;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    grid-row: span 12;
    font-weight: bold;
}

.timetable-event {
    background-color: #ff00ff;
    color: var(--slot-overlay-text-color);
    padding: 2px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 6px;
}

#input-section {
    width: 450px;
    flex-shrink: 0;
}

#output-section {
    width: 100%;
}

#search-bar-container {
    text-align: center;
}

#search-bar {
    width: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 32px;
    font-family: inherit;
    padding: 8px 8px 6px 16px;
    font-size: 24px;
    font-weight: bold;
}

#search-bar:focus {
    outline: none;
    border-color: var(--selection-color);
}

#search-bar-result-container {
    margin-top: 6px;
    width: 450px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow-y: scroll;
    max-height: 400px;
}

.search-result {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 36px;
    padding: 20px;
}

.search-result:hover {
    background-color: var(--selection-color);
    color: var(--text-color);
    text-decoration: none;
}

#slot-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-height: 620px;
}

.slot {
    background-color: #ff00ff;
    color: var(--slot-overlay-text-color);
    padding: 6px;
    border-radius: 12px;
}

.slot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-button-container {
    width: 50px;
}

.slot-delete-button {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 0 4px;
    background: none;
    border: 0;
    color: var(--slot-overlay-text-color);
}

.slot-delete-button:hover {
    color: red;
}

.slot-name {
    font-size: 24px;
    font-weight: bold;
}

.slot-description {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.slot-candidate-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.slot-candidate {
    display: flex;
    background-color: var(--slot-candidate-background-color);
    color: var(--slot-candidate-text-color-on);
    border-radius: 8px;
    padding: 4px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slot-candidate:hover {
    background-color: var(--selection-color);
}

.slot-candidate-infobox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slot-candidate-infobox-value {
    display: flex;
    align-items: center;
}

.slot-candidate-infobox-value-time-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input[type="checkbox"] {
    margin: 0 8px 0 4px;
}

#status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 6px;
    height: 43px;
}

#schedule-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
    min-height: 620px;
}

.schedule {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

@media only screen and (max-width: 970px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #slot-container {
        min-height: 0;
        max-height: 310px;
        overflow-y: scroll;
    }

    #schedule-container {
        min-height: 310px;
    }
}

@media only screen and (max-width: 660px) {
    header {
        flex-direction: column;
    }

    h1 {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .header-section-version, .header-section-extras {
        justify-content: center;
    }
}

@media only screen and (max-width: 550px) {
    #input-section {
        width: 300px;
    }

    #search-bar-result-container {
        width: 300px;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }

    #search-bar {
        font-size: 20px;
    }

    .timetable-event {
        font-size: 8px;
        padding: 1px;
    }

    .day {
        font-size: 8px;
    }

    .time {
        font-size: 8px;
    }

    .timetable {
        grid-template-columns: 24px repeat(5, 50px);
        grid-template-rows: repeat(186, 1px);
    }

    .schedule-list {
        width: 274px;
    }

    .schedule-list-item {
        font-size: 8px;
        width: 120px;
    }

    #status-container {
        height: auto;
    }
}